body{
  font-family: 'Open Sans', sans-serif !important;
}
.App_login {
    text-align: center;
}

.login_header {
    background: #93c849 !important;
}

.logout_icon {
    float: right;
    background: transparent;
    border: none;
    outline: none;
}
.confirmation-modal{

}
.confirmation-modal .modal-header{
  padding: 5px;
border: none;
}
.confirmation-modal .modal-header .modal-title{
  float: left;
}
.confirmation-modal .icon-close{
  background: transparent;
margin: 5px 0px;
}
.confirmation-modal .modal-body{
      min-height: 140px;
}
.confirmation-modal .modal-footer{

}
