
  .car-icon-1 .load_car ,.car-icon-1 .load_car .car_name_no{
  	color: #93c849;
    border-color: #93c849 !important;
  }
  .car-icon-2 .load_car ,.car-icon-2 .load_car .car_name_no{
  	color: #3933ff;
    border-color: #3933ff  !important;
  }
  .car-icon-3 .load_car ,.car-icon-3 .load_car .car_name_no{
  	color: #d63715;
    border-color: #d63715 !important;
  }
  .car-icon-4 .load_car ,.car-icon-4 .load_car .car_name_no{
  	color: #e084da;
    border-color: #e084da !important;
  }
  .car-icon-5 .load_car ,.car-icon-5 .load_car .car_name_no{
  	color: #23d6c1;
    border-color: #23d6c1 !important;
  }
  .car-icon-6 .load_car ,.car-icon-6 .load_car .car_name_no{
  	color: #d69823;
    border-color: #d69823 !important;
  }
  .car-icon-7 .load_car ,.car-icon-7 .load_car .car_name_no{
  	color: #687154;
    border-color: #687154 !important;
  }
  .car-icon-8 .load_car ,.car-icon-8 .load_car .car_name_no{
  	color: #009c40;
    border-color: #009c40 !important;
  }
  .car-icon-9 .load_car ,.car-icon-9 .load_car .car_name_no{
  	color: #d080cd;
    border-color: #d080cd !important;
  }
  .car-icon-10 .load_car ,.car-icon-10 .load_car .car_name_no{
  	color: #aea5f3;
    border-color: #aea5f3 !important;
  }
