html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
    height: 100%;
}
.App_login{
        width: 100%;
    height: 100%;
}
.App {
    width: 100%;
    height: 100%;
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 40px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.new_car {
    background: transparent;
    border: none;
}

.ReactModal__Content {
    width: 500px !important;
    max-height: 380px;
    left: 50% !important;
    margin-left: -250px;
    margin-top: 50px;
}

.modal-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-title .icon-close {
    background: transparent;
    outline: none;
    border: none;
    margin: -46px -16px 10px 0px;
    font-size: 16px
}

.footer {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #333;
    color: #fff;
    padding: 7px;
    margin-top: 20px;
}

.gMap {
    width: 100%;
    height:calc(100% - 250px);
    clear: both;
    position: relative;

}
.map_view{
    width: 100%;
    height: 100%;
}
.route_label {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 20px 0px 10px;
}

.header_part {
    -moz-transition: 0.4s ease-in-out all;
    -webkit-transition: 0.4s ease-in-out all;
    transition: 0.4s ease-in-out all;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    display: table;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.page_logo {
    width: 200px;
    float: left;
}

.page_logo .logo {
    width: 200px;
    margin: 13px 25px;
}

.page_logo .logo img {
    width: 100%;
}

.new_car {
    background: #4dadf7;
    outline: none;
    border: 1px solid #fff;
    padding: 6px;
    color: #fff;
}

.new_car .fa {
    margin: 0 5px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.load_car {
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    margin: 10px;
    padding: 0;
    position: relative;
}

.load_car .car_name_no {
    border-top: 1px solid #93c84a;
    padding: 5px 10px;
}

.load_car .fa {
    font-size: 22px;
    margin: 5px;
}

#btn-submit-container button {
    background: #4dadf7;
    outline: none;
    border: 1px solid #fff;
    padding: 2px 6px;
    color: #fff;
    margin: 0px 10px 0px 10px;
    font-size: 12px;
}

.add_car {
    float: right;
    margin: 10px;
}

.map-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
}
.map-1{
    z-index: 222 ;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.header_title {
    width: calc(100% - 500px);
    font-size: 25px;
    color: #93c84a;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin: 13px 0px;
}

.green {
    color: #93c84a;
}

#car-panel {
    height: 75px;
    margin-top: 5px;
    position: relative;
}

.car_active .new_car_copy{
    display: block !important;
}
.car_active .load_car{
    border-width: 2px;
    height: 64px;
    margin: 10px 8px 8px 8px;
}
.car_active .load_car{
    border-width: 2px;
}
.car_copy_btn{
    position: absolute;
    width: 100%;
    display: none;
}
.car_selected .load_car{
    border-width: 2px;
    height: 64px;
}
.new_car_copy {
    position: absolute;
    top: 6px;
    left: 5px;
    background: #fff;
    width: 16px;
    height: 16px;
    border: 1px solid #4dadf7;
    font-size: 10px !important;
    padding: 2px;
    border-radius: 15px;
    display: none !important;
    cursor: pointer;
    color: #4dadf7;
}
.car_item_delete {
    position: absolute;
    top: 6px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border: 1px solid #f29d67;
    font-size: 12px !important;
    padding: 2px;
    border-radius: 15px;
    cursor: pointer;
    color: #f29d67;
}

.green .new_car_copy {
    display: block;
}

.car_submit_disable {
    background: #afd8f7 !important;
    cursor: no-drop;
}

.car-btn {
    position: relative;
    float: left;
    display: inline;
}
