.login_button {
    background: #93c849 !important;
}

.register_btn {
    background: #93c849 !important;
}
.sing_in_wrapper{
	width: 400px !important;
	    min-height: 270px;
	margin: 60px auto;
    border: 1px solid #ccc;
        padding-bottom: 36px;
}
.sing_in_wrapper button {
 	background-color: #93c849 !important;
}
/* #PlacesAutocomplete__root {
width: 256px !important;
	margin: 50px auto;
align-self: center;
        outline:unset;

border: unset !important;
}
*/

.root-auto-complete {
        width: 256px;
}
/*
.autoc-complete-input{ 
    z-index: 10;
    width: 256px;
} */

.root{
    /* position: "relative"; paddingBottom: "0px"; */
}


.input{
    /* display: "inline-block";
     width: "100%";
     padding: "10px"; */
}

 .autocomplete-item{
     /* backgroundColor: "#ffffff"; padding: "10px"; color: "#555555"; cursor: "pointer"; */
 }

 
.autocomplete-container{
            position: absolute;
            z-index: 1;
            width: 256px;
            border: '1px solid #555555';
            /* backgroundColor: "white", */
}

.autocomplete-item-active {
        /* backgroundColor: "#fafafa" */
}